doctype html
html
  head
    title= EventPic
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css')

  body
    div#bundle
    script(src='/javascripts/commons.js')
    script(src='/javascripts/bundle.js')
