doctype html
html
  head
    title='EventPic Player'
    link(rel='stylesheet', href='/stylesheets/player.css')

  body
    div#player
    script(src='/javascripts/commons.js')
    script(src='/javascripts/player.js')
