extends layout

block content
  h1= "Live Gallery"
  each image in images
    img(src= image.images.low_resolution.url)

block javascript
  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='/javascripts/slider.js')
