extends layout

block content
  h1= "Live Gallery"
  script.
    var accessToken = #{accessTokenJade}

block javascript
  script(src='https://npmcdn.com/axios/dist/axios.min.js')
  script(src='/javascripts/slider.js')
